@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@layer base {
    :root {
      --text: #202020;
      
      --background: #ffffff;
      
      --primary-50: #E9FFE5;
      --primary-100: #CFFFC7;
      --primary-200: #A4FF94;
      --primary-300: #74FF5C;
      --primary-400: #49FF29;
      --primary-500: #24EF00;
      --primary-600: #1DC200;
      --primary-700: #158F00;
      --primary-800: #0F6100;
      --primary-900: #072E00;
      --primary-950: #041900;
      
      --secondary-50: #f0f0f5;
      --secondary-100: #E4FBF7;
      --secondary-200: #C5F6EE;
      --secondary-300: #ABF2E6;
      --secondary-400: #90EEDF;
      --secondary-500: #73EAD7;
      --secondary-600: #37E1C5;
      --secondary-700: #1BB69C;
      --secondary-800: #127867;
      --secondary-900: #093E35;
      --secondary-950: #051F1B;
      
      --accent-50: #EAEAF1;
      --accent-100: #D3D1E0;
      --accent-200: #AAA6C4;
      --accent-300: #7E79A5;
      --accent-400: #5B5680;
      --accent-500: #3A3752;
      --accent-600: #302D43;
      --accent-700: #232131;
      --accent-800: #181722;
      --accent-900: #0B0A0F;
      --accent-950: #060609;
    }
    .dark {
      --text: #ffffff;
      
      --background: #101010;
      
      --primary-50: #E9FFE5;
      --primary-100: #CFFFC7;
      --primary-200: #A4FF94;
      --primary-300: #74FF5C;
      --primary-400: #49FF29;
      --primary-500: #24EF00;
      --primary-600: #1DC200;
      --primary-700: #158F00;
      --primary-800: #0F6100;
      --primary-900: #072E00;
      --primary-950: #041900;
            
      --secondary-50: #f0f0f5;
      --secondary-100: #E4FBF7;
      --secondary-200: #C5F6EE;
      --secondary-300: #ABF2E6;
      --secondary-400: #90EEDF;
      --secondary-500: #73EAD7;
      --secondary-600: #37E1C5;
      --secondary-700: #1BB69C;
      --secondary-800: #127867;
      --secondary-900: #093E35;
      --secondary-950: #051F1B;

      --accent-50: #EAEAF1;
      --accent-100: #D3D1E0;
      --accent-200: #AAA6C4;
      --accent-300: #7E79A5;
      --accent-400: #5B5680;
      --accent-500: #3A3752;
      --accent-600: #302D43;
      --accent-700: #232131;
      --accent-800: #181722;
      --accent-900: #0B0A0F;
      --accent-950: #060609;
    }
  }
  

.ff-inter {
    font-family: "Inter", sans-serif;
}

.ff-space-g {
    font-family: "Space Grotesk", sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Space Grotesk", "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.my-container {
    max-width: 1200px;
    margin: 0 auto;
}